.techstack{
    background: url(../img/stacked-peaks-haikei\ \(1\).svg);
   background-repeat: no-repeat;
}
.tsalign{
margin-top:18% ;
}
.jk,.jkk{
  display: flex;
    color: aliceblue;
}
@media (max-width:950px) {
    .jk,.jkk{
        display:block;
          color: aliceblue;
      }
      .tsalign{
        margin-top:44% ;
        }
}