@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");





    .card {
      height: 400px;
      /* From https://css.glass */
      /* From https://css.glass */
      /* From https://css.glass */
      background: rgba(240, 240, 240, 0.12);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.4px);
      -webkit-backdrop-filter: blur(6.4px);
      border: 1px solid rgba(240, 240, 240, 0.3);
      margin-bottom: 10%;

      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.face1 {
          box-sizing: border-box;
          padding: 20px;

          h2 {
            margin: 0;
            padding: 0;
          }

          .java {
            background-color: #787878;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .python {
            background-color: #787878;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .cSharp {
            background-color: #787878;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &.face2 {
          transition: 0.5s;

    //
        }
      }
    }

    .card:hover .face.face2 {
      height: 60px;

      h2 {
       display: none;
      }
    }

    .card:nth-child(1) .face.face2 {
      background-color: #ffffff;
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2 {
      background-color: #ffffff;
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2 {
      background-color: #ffffff;
      border-radius: 15px;
    
}
